
# # Exercicis amb Dataframes.

### Primers passos, importar els moduls i la base de dades

In [1]:
import pandas as pd
delayed_flights = pd.read_csv('delayed_flights.csv')

### - Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

->Airlines Delay: Airline on-time statistics and delay causes

#### Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [2]:
# veiem el Data frame 'delayed_flights'
delayed_flights[:20]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
10,17,2008,1,3,4,754.0,745,940.0,955,WN,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
12,19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
13,21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
14,22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
15,23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,...,2.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
17,26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
18,27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
19,30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0

In [3]:
# i veiem el numero total de columnes de 'delayed_flights'
len(delayed_flights.index)

1936758

In [4]:
# reduim les entrades a 200.000 i ho posem a un nou dataframe -> 'vols'
vols = delayed_flights.sample(n=200000)
len(vols.index)

200000

In [5]:
# Explora les dades que conte aquest dataframe
tipus_columnes = vols.dtypes
print(tipus_columnes)

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [6]:
#faig una estadística ràpida com una primera exploració de les dades, per poder seleccionar
def stats_gral():
    nom_columnes = vols.columns.values.tolist()
    print(nom_columnes)

    for colum in nom_columnes:
        print('______',colum,'______')
        print(vols[colum].describe())

stats_gral()

['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
______ Unnamed: 0 ______
count    2.000000e+05
mean     3.346245e+06
std      2.066331e+06
min      5.000000e+00
25%      1.517188e+06
50%      3.245444e+06
75%      4.977020e+06
max      7.009497e+06
Name: Unnamed: 0, dtype: float64
______ Year ______
count    200000.0
mean       2008.0
std           0.0
min        2008.0
25%        2008.0
50%        2008.0
75%        2008.0
max        2008.0
Name: Year, dtype: float64
______ Month ______
count    200000.000000
mean          6.118615
std           3.483492
min           1.000000
25%           3.000000
50%           6.000000
75%           9.000000
max          12.000000
Name: Month, dtype: float64
______ DayofMonth ______
count    200000.000000
mean         15.762700
std           8.781163
min           1.000000
25%           8.000000
50%          16.000000
75%          23.000000
max          31.000000
Name: DayofMonth, dtype: float64
______ DayOfWeek ______
count    200000.000000
mean          3.982795
std           1.998904
min           1.000000
25%           2.000000
50%           4.000000
75%           6.000000
max           7.000000
Name: DayOfWeek, dtype: float64
______ DepTime ______
count    200000.00000
mean       1516.84868
std         450.42603
min           1.00000
25%        1202.00000
50%        1545.00000
75%        1859.00000
max        2400.00000
Name: DepTime, dtype: float64
______ CRSDepTime ______
count    200000.000000
mean       1465.978835
std         424.721425
min           1.000000
25%        1131.000000
50%        1509.000000
75%        1815.000000
max        2359.000000
Name: CRSDepTime, dtype: float64
______ ArrTime ______
count    199257.000000
mean       1609.956027
std         547.099633
min           1.000000
25%        1315.000000
50%        1715.000000
75%        2030.000000
max        2400.000000
Name: ArrTime, dtype: float64
______ CRSArrTime ______
count    200000.000000
mean       1633.248335
std         464.289600
min           0.000000
25%        1324.000000
50%        1705.000000
75%        2013.000000
max        2400.000000
Name: CRSArrTime, dtype: float64
______ UniqueCarrier ______
count     200000
unique        20
top           WN
freq       39020
Name: UniqueCarrier, dtype: object
______ FlightNum ______
count    200000.000000
mean       2190.894415
std        1945.482956
min           1.000000
25%         616.000000
50%        1549.000000
75%        3434.000000
max        9740.000000
Name: FlightNum, dtype: float64
______ TailNum ______
count     199997
unique      5265
top       N331SW
freq         114
Name: TailNum, dtype: object
______ ActualElapsedTime ______
count    199130.000000
mean        133.124999
std          71.927746
min          14.000000
25%          80.000000
50%         116.000000
75%         165.000000
max         658.000000
Name: ActualElapsedTime, dtype: float64
______ CRSElapsedTime ______
count    199978.000000
mean        134.079434
std          71.161347
min         -25.000000
25%          82.000000
50%         116.000000
75%         165.000000
max         660.000000
Name: CRSElapsedTime, dtype: float64
______ AirTime ______
count    199130.000000
mean        108.069994
std          68.493873
min           0.000000
25%          58.000000
50%          90.000000
75%         137.000000
max         624.000000
Name: AirTime, dtype: float64
______ ArrDelay ______
count    199130.000000
mean         42.275348
std          56.605210
min         -66.000000
25%           9.000000
50%          24.000000
75%          56.000000
max        1490.000000
Name: ArrDelay, dtype: float64
______ DepDelay ______
count    200000.000000
mean         43.222445
std          53.151683
min           6.000000
25%          12.000000
50%          24.000000
75%          53.000000
max        1490.000000
Name: DepDelay, dtype: float64
______ Origin ______
count     200000
unique       298
top          ATL
freq       13579
Name: Origin, dtype: object
______ Dest ______
count     200000
unique       299
top          ORD
freq       11251
Name: Dest, dtype: object
______ Distance ______
count    200000.000000
mean        763.736730
std         573.104804
min          31.000000
25%         338.000000
50%         606.000000
75%         992.000000
max        4962.000000
Name: Distance, dtype: float64
______ TaxiIn ______
count    199257.000000
mean          6.814661
std           5.240939
min           0.000000
25%           4.000000
50%           6.000000
75%           8.000000
max         197.000000
Name: TaxiIn, dtype: float64
______ TaxiOut ______
count    199956.000000
mean         18.255011
std          14.308330
min           0.000000
25%          10.000000
50%          14.000000
75%          21.000000
max         353.000000
Name: TaxiOut, dtype: float64
______ Cancelled ______
count    200000.000000
mean          0.000310
std           0.017604
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Cancelled, dtype: float64
______ CancellationCode ______
count     200000
unique         4
top            N
freq      199938
Name: CancellationCode, dtype: object
______ Diverted ______
count    200000.000000
mean          0.004040
std           0.063433
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Diverted, dtype: float64
______ CarrierDelay ______
count    128947.000000
mean         19.063832
std          42.994599
min           0.000000
25%           0.000000
50%           2.000000
75%          21.000000
max        1490.000000
Name: CarrierDelay, dtype: float64
______ WeatherDelay ______
count    128947.000000
mean          3.731766
std          21.397251
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1297.000000
Name: WeatherDelay, dtype: float64
______ NASDelay ______
count    128947.000000
mean         15.158049
std          34.212753
min           0.000000
25%           0.000000
50%           2.000000
75%          15.000000
max        1337.000000
Name: NASDelay, dtype: float64
______ SecurityDelay ______
count    128947.000000
mean          0.089797
std           1.860437
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         135.000000
Name: SecurityDelay, dtype: float64
______ LateAircraftDelay ______
count    128947.000000
mean         25.303481
std          42.064912
min           0.000000
25%           0.000000
50%           8.000000
75%          33.000000
max         994.000000
Name: LateAircraftDelay, dtype: float64

Explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

Unnamed: 0             int64 -> conservar; identificador únic

Year                   int64 -> eliminar; seria interessant conservar si volessim fer una serie de temps

Month                  int64 -> id

DayofMonth             int64 -> id

DayOfWeek              int64 -> eliminar; encara que podria ser interessant veure si hi ha mes restards en laborable
                                que en cap de setmana
                                
DepTime              float64 -> eliminar; si es volgues utilitzar seria més interessant dividir-ho per franges horaries

CRSDepTime             int64 -> id

ArrTime              float64 -> id

CRSArrTime             int64 -> id

UniqueCarrier         object -> CONSERVAR; indica la companyia aerea. Serè interessant veure si alguna companyia
                                te mes retards
                                
FlightNum              int64 -> CONSERVAR; en un analisi més avançat si podría ser interessant veure si algun 
                                vol te més retards
                                
TailNum               object -> eliminar; en un analisi més avançat si podría ser interessant veure si algun 
                                avió específic te més retards
                                
ActualElapsedTime    float64 -> CONSERVAR; serà interessant veure si el temsp de vol està relacionat amb els retards

CRSElapsedTime       float64 -> eliminar; es semblant al de dalt

AirTime              float64 -> id

ArrDelay             float64 -> CONSERVAR; es el que es vol analitzar

DepDelay             float64 -> CONSERVAR; es el que es vol analitzar

Origin                object -> CONSERVAR; permetra saber si hi origins on els retards son mes frequents

Dest                  object -> CONSERVAR; permetra saber si hi destinacions on els retards son mes frequents

Distance               int64 -> CONSERVAR; interessant veure si la distancia està relacionada amb els retards

TaxiIn               float64 -> eliminar; encara que podria ser una cause de retards

TaxiOut              float64 -> id

Cancelled              int64 -> eliminar; si el vol està cancelat, no te efecte sobre els retards

CancellationCode      object -> eliminar; molt relacionat amb la cancelació

Diverted               int64 -> eliminar; si l'avió ha estat desviat l'efecte sobre el retars queda fora d'aquest analisi

CarrierDelay         float64 -> CONSERVAR; es el que volem analitzar

WeatherDelay         float64 -> CONSERVAR; es el que volem analitzar

NASDelay             float64 -> CONSERVAR; es el que volem analitzar

SecurityDelay        float64 -> CONSERVAR; es el que volem analitzar

LateAircraftDelay    float64 -> CONSERVAR; es el que volem analitzar

Explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

### Conservar

'Unnamed: 0',
'UniqueCarrier',
'FlightNum',
'ActualElapsedTime',
'ArrDelay',
'DepDelay',
'Origin',
'Dest',
'Distance',
'CarrierDelay',
'WeatherDelay',
'NASDelay',
'SecurityDelay',
'LateAircraftDelay'

### Eliminar
'Year',
'Month',
'DayofMonth',
'DayOfWeek',
'DepTime', 
'CRSDepTime',
'ArrTime',
'CRSArrTime',
'TailNum',
'CRSElapsedTime',
'AirTime',
'TaxiIn',
'TaxiOut',
'Cancelled',
'CancellationCode',
'Diverted'

In [29]:
# fem el nou data frame amb les variables seleccionades

vols2 = vols[['Unnamed: 0', 'UniqueCarrier','FlightNum', 'ActualElapsedTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

vols2[:5]

,Unnamed: 0,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1153566,3850109,UA,581,269.0,18.0,9.0,ORD,PDX,1739,9.0,0.0,9.0,0.0,0.0
1256513,4202955,CO,88,240.0,16.0,20.0,EWR,IAH,1400,16.0,0.0,0.0,0.0,0.0
1340290,4509343,US,488,95.0,10.0,26.0,PHX,DEN,602,NaN,NaN,NaN,NaN,NaN
445643,1390664,OO,6725,141.0,145.0,151.0,DEN,PSC,853,145.0,0.0,0.0,0.0,0.0
1589685,5728455,FL,1592,77.0,126.0,131.0,ATL,GPT,352,0.0,0.0,0.0,0.0,126.0

### - Exercici 2.a

Fes un informe complet del dataset:

    Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

In [31]:
# Ara faig una estadística amb els valors que em poden interessar
# diferencio entre dades float i dades object i demano valors differents per cada tipus

def stats_gral2():
    nom_columnes = vols2.columns.values.tolist()
    for colum in nom_columnes:
        if vols2[colum].dtype == float:
            print(colum,' es de tipus float')
            print('    -> Promig + desv est: ',vols2[colum].mean(),'+',vols2[colum].std())
            print('    -> Max: ', vols2[colum].max(),' i min: ', vols2[colum].min())
            print('------')
        else:
            print(colum,' es de tipus object')
            print(vols2[colum].value_counts(dropna=True))
            print('------')

stats_gral2()

Unnamed: 0  es de tipus object
3850109    1
3239192    1
3614992    1
3578835    1
1115774    1
          ..
735258     1
5432473    1
6910141    1
5393347    1
5744521    1
Name: Unnamed: 0, Length: 200000, dtype: int64
------
UniqueCarrier  es de tipus object
WN    39020
AA    19889
MQ    14684
UA    14338
OO    13761
DL    11788
XE    10533
US    10289
CO    10285
EV     8576
NW     8225
FL     7284
YV     7026
B6     5659
OH     5406
9E     5372
AS     4094
F9     2936
HA      758
AQ       77
Name: UniqueCarrier, dtype: int64
------
FlightNum  es de tipus object
16      162
50      156
65      152
40      151
52      150
       ...
6613      1
5104      1
6054      1
7715      1
6151      1
Name: FlightNum, Length: 7304, dtype: int64
------
ActualElapsedTime  es de tipus float
    -> Promig + desv est:  133.12499874453874 + 71.92774638015007
    -> Max:  658.0  i min:  14.0
------
ArrDelay  es de tipus float
    -> Promig + desv est:  42.27534776276804 + 56.60521041379624
    -> Max:  1490.0  i min:  -66.0
------
DepDelay  es de tipus float
    -> Promig + desv est:  43.222445 + 53.151683028194945
    -> Max:  1490.0  i min:  6.0
------
Origin  es de tipus object
ATL    13579
ORD    13015
DFW     9860
DEN     7573
LAX     5953
       ...
PIR        1
ACY        1
BJI        1
TUP        1
BPT        1
Name: Origin, Length: 298, dtype: int64
------
Dest  es de tipus object
ORD    11251
ATL    11051
DFW     7311
DEN     6512
LAX     6180
       ...
YKM        2
TEX        2
HTS        2
ITH        1
BJI        1
Name: Dest, Length: 299, dtype: int64
------
Distance  es de tipus object
337     1329
761      929
296      925
733      914
403      883
        ...
2644       1
2349       1
465        1
567        1
2041       1
Name: Distance, Length: 1366, dtype: int64
------
CarrierDelay  es de tipus float
    -> Promig + desv est:  19.063832427276324 + 42.99459913035812
    -> Max:  1490.0  i min:  0.0
------
WeatherDelay  es de tipus float
    -> Promig + desv est:  3.7317657642287143 + 21.397251109663983
    -> Max:  1297.0  i min:  0.0
------
NASDelay  es de tipus float
    -> Promig + desv est:  15.15804943116164 + 34.21275280447385
    -> Max:  1337.0  i min:  0.0
------
SecurityDelay  es de tipus float
    -> Promig + desv est:  0.08979658309227823 + 1.8604370403610164
    -> Max:  135.0  i min:  0.0
------
LateAircraftDelay  es de tipus float
    -> Promig + desv est:  25.303481275252622 + 42.064912143219956
    -> Max:  994.0  i min:  0.0
------

### - Exercici 2.b

Fes un informe complet del dataset:

    Troba quantes dades faltants hi ha per columna.

In [32]:
import pandas as pd
import seaborn as sns


vols2.isna().sum()

Unnamed: 0               0
UniqueCarrier            0
FlightNum                0
ActualElapsedTime      870
ArrDelay               870
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
CarrierDelay         71053
WeatherDelay         71053
NASDelay             71053
SecurityDelay        71053
LateAircraftDelay    71053
dtype: int64

### - Exercici 2.c

Fes un informe complet del dataset:

    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [33]:
# faig una columna que indica si ha hagut retras, independentment del tipus

import numpy as np

def retras_si_no(row):  
    if row['CarrierDelay'] > 0 or row['WeatherDelay']  > 0 or row['NASDelay']  > 0 or row['SecurityDelay']  > 0 or row['LateAircraftDelay']  > 0:
        return 'Retras'
    else:
        pass
    return 'A temps'

vols2['Delayed'] = vols2.apply(lambda row: retras_si_no(row), axis=1)


# dona un avis, pero la columna ha sigut creada

C:\Users\PABLOI~1\AppData\Local\Temp/ipykernel_14464/1836960449.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vols2['Delayed'] = vols2.apply(lambda row: retras_si_no(row), axis=1)

In [34]:
vols2[:10]

,Unnamed: 0,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delayed
1153566,3850109,UA,581,269.0,18.0,9.0,ORD,PDX,1739,9.0,0.0,9.0,0.0,0.0,Retras
1256513,4202955,CO,88,240.0,16.0,20.0,EWR,IAH,1400,16.0,0.0,0.0,0.0,0.0,Retras
1340290,4509343,US,488,95.0,10.0,26.0,PHX,DEN,602,NaN,NaN,NaN,NaN,NaN,A temps
445643,1390664,OO,6725,141.0,145.0,151.0,DEN,PSC,853,145.0,0.0,0.0,0.0,0.0,Retras
1589685,5728455,FL,1592,77.0,126.0,131.0,ATL,GPT,352,0.0,0.0,0.0,0.0,126.0,Retras
671636,2180776,MQ,3743,72.0,45.0,38.0,DFW,HOU,247,0.0,0.0,7.0,0.0,38.0,Retras
155932,507737,AA,1417,223.0,31.0,48.0,ORD,LAS,1515,31.0,0.0,0.0,0.0,0.0,Retras
699343,2286961,AA,1251,179.0,93.0,104.0,RIC,DFW,1158,0.0,0.0,0.0,0.0,93.0,Retras
72167,232481,UA,485,182.0,-10.0,9.0,DTW,DEN,1123,NaN,NaN,NaN,NaN,NaN,A temps
1162723,3879376,US,1124,85.0,20.0,9.0,CLT,ATL,227,9.0,0.0,11.0,0.0,0.0,Retras

In [35]:
# Fem una nova columna amb la velocitat del vol
vols2['Speed'] = vols2.apply(lambda row: row.Distance / row.ActualElapsedTime, axis = 1)

vols2[:10]

# de nou, dona un avís però la columna ha estat creada

C:\Users\PABLOI~1\AppData\Local\Temp/ipykernel_14464/2048819680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vols2['Speed'] = vols2.apply(lambda row: row.Distance / row.ActualElapsedTime, axis = 1)

,Unnamed: 0,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delayed,Speed
1153566,3850109,UA,581,269.0,18.0,9.0,ORD,PDX,1739,9.0,0.0,9.0,0.0,0.0,Retras,6.464684
1256513,4202955,CO,88,240.0,16.0,20.0,EWR,IAH,1400,16.0,0.0,0.0,0.0,0.0,Retras,5.833333
1340290,4509343,US,488,95.0,10.0,26.0,PHX,DEN,602,NaN,NaN,NaN,NaN,NaN,A temps,6.336842
445643,1390664,OO,6725,141.0,145.0,151.0,DEN,PSC,853,145.0,0.0,0.0,0.0,0.0,Retras,6.049645
1589685,5728455,FL,1592,77.0,126.0,131.0,ATL,GPT,352,0.0,0.0,0.0,0.0,126.0,Retras,4.571429
671636,2180776,MQ,3743,72.0,45.0,38.0,DFW,HOU,247,0.0,0.0,7.0,0.0,38.0,Retras,3.430556
155932,507737,AA,1417,223.0,31.0,48.0,ORD,LAS,1515,31.0,0.0,0.0,0.0,0.0,Retras,6.793722
699343,2286961,AA,1251,179.0,93.0,104.0,RIC,DFW,1158,0.0,0.0,0.0,0.0,93.0,Retras,6.469274
72167,232481,UA,485,182.0,-10.0,9.0,DTW,DEN,1123,NaN,NaN,NaN,NaN,NaN,A temps,6.170330
1162723,3879376,US,1124,85.0,20.0,9.0,CLT,ATL,227,9.0,0.0,11.0,0.0,0.0,Retras,2.670588

### - Exercici 2.d

Fes un informe complet del dataset:


    Fes una taula de les aerolínies amb més endarreriments acumulats.

In [72]:
# aixo ens dona el total de vols per cada companyia, tant amb 'Retras' com 'A temps'

vols2.groupby(['UniqueCarrier', 'Delayed']).size()

UniqueCarrier  Delayed
9E             A temps     1649
               Retras      3723
AA             A temps     6154
               Retras     13735
AQ             A temps       48
               Retras        29
AS             A temps     1581
               Retras      2513
B6             A temps     1774
               Retras      3885
CO             A temps     4232
               Retras      6053
DL             A temps     4356
               Retras      7432
EV             A temps     2689
               Retras      5887
F9             A temps     1253
               Retras      1683
FL             A temps     2389
               Retras      4895
HA             A temps      327
               Retras       431
MQ             A temps     4534
               Retras     10150
NW             A temps     2606
               Retras      5619
OH             A temps     1358
               Retras      4048
OO             A temps     4541
               Retras      9220
UA             A temps     4676
               Retras      9662
US             A temps     4123
               Retras      6166
WN             A temps    17866
               Retras     21154
XE             A temps     3158
               Retras      7375
YV             A temps     1739
               Retras      5287
dtype: int64

In [65]:
# aixo ens dona el total de vols per cada companyia, només amb retras
vols3 = vols2.groupby('UniqueCarrier')['Delayed'].apply(lambda x: x[x == 'Retras'].count())
vols3.sort_values(ascending=False)

UniqueCarrier
WN    21154
AA    13735
MQ    10150
UA     9662
OO     9220
DL     7432
XE     7375
US     6166
CO     6053
EV     5887
NW     5619
YV     5287
FL     4895
OH     4048
B6     3885
9E     3723
AS     2513
F9     1683
HA      431
AQ       29
Name: Delayed, dtype: int64

In [75]:
# aixo ens dona el total de vols per cada companyia, només amb retras
def nomes_retras():
    return vols2.groupby('UniqueCarrier')['Delayed'].apply(lambda x: x[x == 'Retras'].count())

nomes_retras().sort_values(ascending=False)

UniqueCarrier
WN    21154
AA    13735
MQ    10150
UA     9662
OO     9220
DL     7432
XE     7375
US     6166
CO     6053
EV     5887
NW     5619
YV     5287
FL     4895
OH     4048
B6     3885
9E     3723
AS     2513
F9     1683
HA      431
AQ       29
Name: Delayed, dtype: int64

In [63]:
# aixo ens dona el percentatge de vols amb retras per cada companyia. Faig servir la mateixa estructura de codi d'abans
# vols amb retras *100 / (vols amb retras + vols a temps)
def operador_retras():
    
    return vols2.groupby('UniqueCarrier')['Delayed'].apply(lambda x: x[x == 'Retras'].count()) * 100 / (( vols2.groupby('UniqueCarrier')['Delayed'].apply(lambda x: x[x == 'Retras'].count())
  )+(vols2.groupby('UniqueCarrier')['Delayed'].apply(lambda x: x[x == 'A temps'].count())
 ))

operador_retras().sort_values(ascending=False)

UniqueCarrier
YV    75.249075
OH    74.879763
XE    70.018039
9E    69.303797
MQ    69.122855
AA    69.058273
B6    68.651705
EV    68.645056
NW    68.316109
UA    67.387362
FL    67.202087
OO    67.000945
DL    63.047167
AS    61.382511
US    59.928079
CO    58.852698
F9    57.322888
HA    56.860158
WN    54.213224
AQ    37.662338
Name: Delayed, dtype: float64

### - Exercici 2.e

Fes un informe complet del dataset:

    Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.

In [109]:
# Els vols mes llargs (en temps). Només selecciono unes poques columnes
def temps_vol():
    vols_llargs = vols2[['UniqueCarrier','Origin','Dest','FlightNum', 'ActualElapsedTime']]
    return vols_llargs.groupby(['FlightNum','UniqueCarrier','Origin','Dest']).mean('ActualElapsedTime')

temps_vol().sort_values(by="ActualElapsedTime", ascending=False)[:10]

                                     ActualElapsedTime
FlightNum UniqueCarrier Origin Dest
15        CO            EWR    HNL          627.923077
851       DL            ATL    HNL          603.000000
14        CO            HNL    EWR          575.000000
1273      DL            ATL    HNL          574.857143
1561      DL            ATL    HNL          571.800000
73        AA            ORD    HNL          549.846154
3         UA            ORD    OGG          538.000000
1         UA            ORD    HNL          536.000000
1282      DL            HNL    ATL          514.187500
809       NW            MSP    HNL          513.900000

In [131]:
# Els vols mes llargs (en temps). Només selecciono unes poques columnes
def distancia_vol():
    vols_llargs = vols2[['UniqueCarrier','Origin','Dest','FlightNum', 'Distance']]
    return vols_llargs.groupby(['FlightNum','UniqueCarrier','Origin','Dest']).mean('Distance')

distancia_vol().sort_values(['Distance'], ascending=False)[:10]

                                     Distance
FlightNum UniqueCarrier Origin Dest
15        CO            EWR    HNL     4962.0
14        CO            HNL    EWR     4962.0
851       DL            ATL    HNL     4502.0
1273      DL            ATL    HNL     4502.0
1561      DL            ATL    HNL     4502.0
1282      DL            HNL    ATL     4502.0
850       DL            HNL    ATL     4502.0
2         UA            HNL    ORD     4243.0
73        AA            ORD    HNL     4243.0
72        AA            HNL    ORD     4243.0

In [114]:
# Fem una nova columna amb el retard total (suma dels 5 tipus de retards)
vols2['Tot_delay'] = vols2.apply(lambda row: row.CarrierDelay + row.WeatherDelay + row.NASDelay + row.SecurityDelay + row.LateAircraftDelay, axis = 1)

vols2[['CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay','Tot_delay']].head()

# de nou, dona un avís però la columna ha estat creada

C:\Users\PABLOI~1\AppData\Local\Temp/ipykernel_14464/1217353857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vols2['Tot_delay'] = vols2.apply(lambda row: row.CarrierDelay + row.WeatherDelay + row.NASDelay + row.SecurityDelay + row.LateAircraftDelay, axis = 1)

,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Tot_delay
1153566,9.0,0.0,9.0,0.0,0.0,18.0
1256513,16.0,0.0,0.0,0.0,0.0,16.0
1340290,NaN,NaN,NaN,NaN,NaN,NaN
445643,145.0,0.0,0.0,0.0,0.0,145.0
1589685,0.0,0.0,0.0,0.0,126.0,126.0

In [116]:
# Els vols mes endarrerits. Només selecciono unes poques columnes
def temps_vol():
    vols_llargs = vols2[['UniqueCarrier','Origin','Dest','FlightNum', 'Tot_delay']]
    return vols_llargs.groupby(['FlightNum','UniqueCarrier','Origin','Dest']).max('Tot_delay')

temps_vol().sort_values(by="Tot_delay", ascending=False)[:10]

# Aquest codi mostra el vol que han patit mes retards per cada ruta

                                     Tot_delay
FlightNum UniqueCarrier Origin Dest
1743      NW            BNA    MEM      1490.0
1196      NW            LAS    DTW      1395.0
1765      NW            PHL    DTW      1392.0
1073      AA            TPA    ORD      1337.0
388       NW            OKC    MEM      1294.0
491       NW            TPA    DTW      1263.0
282       AA            TUS    DFW      1186.0
336       AA            SNA    ORD      1147.0
4513      MQ            SHV    ORD      1142.0
162       AA            HNL    LAX      1130.0

In [118]:
vols2.sort_values(by="Tot_delay",ascending=False)[:10]

# Aquest codi mostra els vols que han patit més retard en general, però el resultat es una mica brut, 
# ja que surten totes les columnes i el retard total surt a la dreta de tot.

,Unnamed: 0,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delayed,Speed,Tot_delay
521096,1634129,NW,1743,66.0,1490.0,1490.0,BNA,MEM,200,1490.0,0.0,0.0,0.0,0.0,Retras,3.030303,1490.0
1885481,6868167,NW,1196,240.0,1395.0,1403.0,LAS,DTW,1750,0.0,1297.0,0.0,0.0,98.0,Retras,7.291667,1395.0
1554448,5524147,NW,1765,137.0,1392.0,1369.0,PHL,DTW,453,1369.0,0.0,23.0,0.0,0.0,Retras,3.306569,1392.0
1228543,4117650,AA,1073,160.0,1337.0,1337.0,TPA,ORD,1012,0.0,0.0,1337.0,0.0,0.0,Retras,6.325000,1337.0
836362,2818284,NW,388,91.0,1294.0,1292.0,OKC,MEM,432,1292.0,0.0,2.0,0.0,0.0,Retras,4.747253,1294.0
836938,2820874,NW,491,168.0,1263.0,1258.0,TPA,DTW,983,1258.0,0.0,5.0,0.0,0.0,Retras,5.851190,1263.0
1502764,5273343,AA,282,133.0,1186.0,1183.0,TUS,DFW,813,1183.0,0.0,3.0,0.0,0.0,Retras,6.112782,1186.0
146567,481458,AA,336,210.0,1147.0,1172.0,SNA,ORD,1726,1068.0,0.0,0.0,0.0,79.0,Retras,8.219048,1147.0
315641,997272,MQ,4513,124.0,1142.0,1143.0,SHV,ORD,733,1065.0,77.0,0.0,0.0,0.0,Retras,5.911290,1142.0
1221970,4098390,AA,162,324.0,1130.0,1126.0,HNL,LAX,2556,1126.0,0.0,4.0,0.0,0.0,Retras,7.888889,1130.0

In [123]:
# Els vols mes endarrerits. Només selecciono unes poques columnes
def retard_vol():
    vols_retard = vols2[['UniqueCarrier','Origin','Dest','FlightNum', 'Tot_delay']]
    return vols_retard

retard_vol().sort_values(by="Tot_delay", ascending=False)[:10]

# Aquest codi SI mostra els vols que han patit mes retards en global

        UniqueCarrier Origin Dest  FlightNum  Tot_delay
521096             NW    BNA  MEM       1743     1490.0
1885481            NW    LAS  DTW       1196     1395.0
1554448            NW    PHL  DTW       1765     1392.0
1228543            AA    TPA  ORD       1073     1337.0
836362             NW    OKC  MEM        388     1294.0
836938             NW    TPA  DTW        491     1263.0
1502764            AA    TUS  DFW        282     1186.0
146567             AA    SNA  ORD        336     1147.0
315641             MQ    SHV  ORD       4513     1142.0
1221970            AA    HNL  LAX        162     1130.0

### - Exercici 2.f

Fes un informe complet del dataset:

    Aporta allò que consideris rellevant.

    Quins aeroports tenen mes retard de sortida?
    i d'arribada?

### Retards a la sortida

In [167]:
# Aeroports amb més retards de sortida

def retard_sortida():
    vols_retard = vols2[['Origin','ArrDelay']]
    return vols_retard.groupby(['Origin']).mean('ArrDelay')

retard_sortida().sort_values(by="ArrDelay", ascending=False)[:10]

          ArrDelay
Origin
CMX     270.666667
BJI     147.000000
SCE     113.000000
BTM     108.666667
MCN     103.444444
EWN      99.066667
HHH      98.190476
SUX      95.500000
SPI      95.250000
COD      89.500000

#### Comentari: 
Al codi de dalt hi veiem quin son els aeroports amb mes retard promig.
Al codi de abix hi afegim la columna de la companyia (UniqueCarrier) i obtenim el retard promig per aeroport i companyia

In [171]:
# Aeroports amb més retard de sortida per companyia aerea

def retard_sortida():
    vols_retard = vols2[['Origin','UniqueCarrier','ArrDelay']]
    return vols_retard.groupby(['Origin','UniqueCarrier']).mean('ArrDelay')

retard_sortida().sort_values(by="ArrDelay", ascending=False)[:10]

                        ArrDelay
Origin UniqueCarrier
OKC    NW             445.333333
CMX    9E             270.666667
GPT    NW             211.000000
LIH    DL             199.000000
ROC    US             193.000000
PDX    HA             190.111111
BTR    NW             188.333333
SCE    EV             187.333333
VPS    NW             177.727273
BOI    NW             166.750000

#### Qué passa amb la companyia NW?

Em crida l'atenció que els temps de rtards de NW son molt alts. Surt 5 cops a la llista de dalt. Als dos propers codis coparem els retards entre la companyia NW i AQ, seleccionant nomès una de les dues companyies en cada codi

In [173]:
# Aeroports amb més retard de sortida per companyia aerea: NOMES COMPANYIA NW

def retard_sortida_NW():
    
    vols_retard = vols2[['Origin','UniqueCarrier','ArrDelay']]
    vols_retard2 = vols_retard.loc[vols_retard['UniqueCarrier'] == 'NW']
    return vols_retard2.groupby(['Origin','UniqueCarrier']).mean('ArrDelay')

retard_sortida_NW().sort_values(by="ArrDelay", ascending=False)[:10]

                        ArrDelay
Origin UniqueCarrier
OKC    NW             445.333333
GPT    NW             211.000000
BTR    NW             188.333333
VPS    NW             177.727273
BOI    NW             166.750000
CLE    NW             148.200000
MBS    NW             129.666667
GEG    NW             107.200000
HNL    NW             102.000000
AZO    NW             100.750000

In [176]:
# Aeroports amb més retard de sortida per companyia aerea: NOMES COMPANYIA AQ

def retard_sortida_AQ():
    
    vols_retard = vols2[['Origin','UniqueCarrier','ArrDelay']]
    vols_retard2 = vols_retard.loc[vols_retard['UniqueCarrier'] == 'AQ']
    return vols_retard2.groupby(['Origin','UniqueCarrier']).mean('ArrDelay')

retard_sortida_AQ().sort_values(by="ArrDelay", ascending=False)[:10]

                       ArrDelay
Origin UniqueCarrier
LIH    AQ             35.600000
RNO    AQ             34.666667
SNA    AQ             32.800000
OGG    AQ             30.357143
OAK    AQ             22.500000
HNL    AQ             16.666667
KOA    AQ             12.846154
LAS    AQ              2.500000
SAN    AQ              1.333333
SMF    AQ            -28.000000

#### Conclusió preliminar

La companyia NW te uns retards de sortida molt elevats comparats amb AQ

### Retards a la sortida

In [146]:
# Aeroports amb més retards a l'arribada

def retard_arribada():
    vols_retard = vols2[['Dest','UniqueCarrier','DepDelay']]
    return vols_retard.groupby(['Dest']).mean('DepDelay')

retard_arribada().sort_values(by="DepDelay", ascending=False)[:10]

        DepDelay
Dest
ALO   121.000000
CMX   100.500000
MQT    80.520000
INL    79.666667
ADQ    77.875000
LCH    76.960000
MCN    71.727273
CDC    69.500000
FLG    66.571429
MEI    63.190476

In [175]:
# Aeroports amb més retards a l'arribada per companyia aerea

def retard_arribada():
    vols_retard = vols2[['Dest','UniqueCarrier','DepDelay']]
    return vols_retard.groupby(['Dest','UniqueCarrier']).mean('DepDelay')

retard_arribada().sort_values(by="DepDelay", ascending=False)[:10]

                      DepDelay
Dest UniqueCarrier
KOA  AS             172.000000
MSP  AS             148.500000
ALO  9E             121.000000
PHX  HA             106.181818
CMX  9E             100.500000
BMI  OO              99.428571
PHL  MQ              96.200000
SAN  AQ              96.000000
LGA  XE              92.000000
JAC  AA              92.000000

### - Exercici 3

Exporta el dataset net i amb les noves columnes a Excel.

In [179]:
writer = pd.ExcelWriter('flight_delays.xlsx')
vols2.to_excel(writer)
 
# save the excel
writer.save()

print("El dataframe s'ha exportat amb èxit a l'arxiu d'\Excell \'flight_delays\'.")

DataFrame is exported successfully to 'converted-to-excel.xlsx' Excel File.